# Zakoncovani radku
################################################################################
# Zakladni nastaveni pro nenastavenou polozku core.autocrlf.
* text=auto

# Vzdy auto
*.txt text

# Vzdy lf (UNIX)
*.sh text eol=lf
*.py text eol=lf

# Vzdy crlf (WINDOWS)

# Vzdy binarni
*.png binary
*.jpg binary
*.jar binary