# ------------------------------------------------------------------------------
# Omezeni pripon souboru pro verzovani projektu
# ------------------------------------------------------------------------------
# vse globalne zakazano:
*.*

# ------------------------------------------------------------------------------
# Zakazane adresare
# ------------------------------------------------------------------------------
venv/
test/

# ------------------------------------------------------------------------------
# Povolene adresare
# ------------------------------------------------------------------------------
!doc/**
!doc/*.*

# ------------------------------------------------------------------------------
# Povolene soubory
# ------------------------------------------------------------------------------
# gitingnore list
!*.gitignore
!*.gitattributes

# zdrojove soubory
!*.py
!*.service
!*.sh
!*.html
!*.htm
!*.js
!*.bat

# dokumentace
!*.md
!*.txt
!*.pdf
!*.doc
!*.docx
!*.xls
!*.xlsx
!*.rtf
!*.json

# ------------------------------------------------------------------------------
# Zakazane soubory
# ------------------------------------------------------------------------------
# soubor postmortu programu
postmort*.*