<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style>
			table {
				border-collapse: collapse;
				width: 100%;
			}

			th{
				text-align: left;
				padding: 8px;
				background-color: #FFC733;
			}

			td {
				text-align: left;
				padding: 8px;
			}

			tr:nth-child(even) {
				background-color: #D6EEEE;
			}

			.frame-border { 
				border:5px solid #000;
			}

			h2{
				text-align: center;
			}

		</style>

		{% block head %}{% endblock %}
	</head>

	<body>
		<!-- ################## DIAGNOSTIKA ################## -->
		<h1> Diagnostika </h1>
		<iframe width="99%" height="250" src="postmort.html" class="frame-border"
		 scrolling="no" id="postmort">
		</iframe>

		<!-- ################## TABULKA REGISTRU ################## -->
		<h1> Modbus </h1>
		<h2> CÍVKY </h2>
		<table border="1" bordercolor="black">
			<tr>
				<th width="10%"> Adresa </th>
				<th width="15%"> Název </th>
				<th width="15%"> Hodnota </th>
				<th> Popis </th>
			</tr>
			{% block coils %}{% endblock %}

		</table>

		<h2> DIGITÁLNÍ VSTUPY </h2>
		<table border="1" bordercolor="black">
			<tr>
				<th width="10%"> Adresa </th>
				<th width="15%"> Název </th>
				<th width="15%"> Hodnota </th>
				<th> Popis </th>
			</tr>
			{% block digital_inputs %}{% endblock %}

		</table>

		<h2> HOLDING REGISTRY </h2>
		<table border="1" bordercolor="black">
			<tr>
				<th width="10%"> Adresa </th>
				<th width="15%"> Název </th>
				<th width="15%"> Hodnota </th>
				<th> Popis </th>
			</tr>
			{% block holding_registers %}{% endblock %}

		</table>

		<h2> INPUT REGISTRY </h2>
		<table border="1" bordercolor="black">
			<tr>
				<th width="10%"> Adresa </th>
				<th width="15%"> Název </th>
				<th width="15%"> Hodnota </th>
				<th> Popis </th>
			</tr>
			{% block input_registers %}{% endblock %}

		</table>

		<!-- ################## SKRIPT ################## -->
		<script type="text/javascript" src="readdata.js"></script>

	</body>
</html>
