{% extends 'base_diagnostics.html' %}

{% block head %}
<title>Mennekes</title>
{% endblock %}

{% block coils %}
<tr>
	<td> 1 </td>
	<td> DISABLE_LOCK12 </td>
	<td id="DISABLE_LOCK12_co"> 0 </td>
	<td> "povolení funkce budiče zámku konektorů" </td>
</tr>
<tr>
	<td> 2 </td>
	<td> POWER_SW1 </td>
	<td id="POWER_SW1_co"> 0 </td>
	<td> "povel pro relé na kanálu 1 - hlavního stykače" </td>
</tr>
<tr>
	<td> 3 </td>
	<td> OPEN_LOCK1 </td>
	<td id="OPEN_LOCK1_co"> 0 </td>
	<td> "povel pro otevření zámku kanálu 1" </td>
</tr>
<tr>
	<td> 4 </td>
	<td> CLOSE_LOCK1 </td>
	<td id="CLOSE_LOCK1_co"> 0 </td>
	<td> "povel pro zavření zámku kanálu 1" </td>
</tr>
<tr>
	<td> 5 </td>
	<td> LED_RED1 </td>
	<td id="LED_RED1_co"> 0 </td>
	<td> "povel pro svícení červenou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 6 </td>
	<td> LED_GREEN1 </td>
	<td id="LED_GREEN1_co"> 0 </td>
	<td> "povel pro svícení zelenou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 7 </td>
	<td> LED_BLUE1 </td>
	<td id="LED_BLUE1_co"> 0 </td>
	<td> "povel pro svícení modrou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 8 </td>
	<td> IN1P0_ELEM_CNT_CLR </td>
	<td id="IN1P0_ELEM_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 1-0, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 9 </td>
	<td> IN1P1_LOCK_CNT_CLR </td>
	<td id="IN1P1_LOCK_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 1-1, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 10 </td>
	<td> IN1P2_ERRD_CNT_CLR </td>
	<td id="IN1P2_ERRD_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 1-2, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 11 </td>
	<td> IN1P3_BTON_CNT_CLR </td>
	<td id="IN1P3_BTON_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 1-3, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 12 </td>
	<td> ELECTROMETER1_CLR </td>
	<td id="ELECTROMETER1_CLR_co"> 0 </td>
	<td> "nulování stavu elektroměru kanálu 1" </td>
</tr>
<tr>
	<td> 22 </td>
	<td> POWER_SW2 </td>
	<td id="POWER_SW2_co"> 0 </td>
	<td> "povel pro relé na kanálu 2 - hlavního stykače" </td>
</tr>
<tr>
	<td> 23 </td>
	<td> OPEN_LOCK2 </td>
	<td id="OPEN_LOCK2_co"> 0 </td>
	<td> "povel pro otevření zámku kanálu 2" </td>
</tr>
<tr>
	<td> 24 </td>
	<td> CLOSE_LOCK2 </td>
	<td id="CLOSE_LOCK2_co"> 0 </td>
	<td> "povel pro zavření zámku kanálu 2" </td>
</tr>
<tr>
	<td> 25 </td>
	<td> LED_RED2 </td>
	<td id="LED_RED2_co"> 0 </td>
	<td> "povel pro svícení červenou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 26 </td>
	<td> LED_GREEN2 </td>
	<td id="LED_GREEN2_co"> 0 </td>
	<td> "povel pro svícení zelenou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 27 </td>
	<td> LED_BLUE2 </td>
	<td id="LED_BLUE2_co"> 0 </td>
	<td> "povel pro svícení modrou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 28 </td>
	<td> IN2P0_ELEM_CNT_CLR </td>
	<td id="IN2P0_ELEM_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 2-0, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 29 </td>
	<td> IN2P1_LOCK_CNT_CLR </td>
	<td id="IN2P1_LOCK_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 2-1, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 30 </td>
	<td> IN2P2_ERRD_CNT_CLR </td>
	<td id="IN2P2_ERRD_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 2-2, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 31 </td>
	<td> IN2P3_BTON_CNT_CLR </td>
	<td id="IN2P3_BTON_CNT_CLR_co"> 0 </td>
	<td> "nulování počítadla náběžných hran pro vstup 2-3, logická 1 drží počítadlo v nule" </td>
</tr>
<tr>
	<td> 32 </td>
	<td> ELECTROMETER2_CLR </td>
	<td id="ELECTROMETER2_CLR_co"> 0 </td>
	<td> "nulování stavu elektroměru kanálu 2" </td>
</tr>

{% endblock %}

{% block digital_inputs %}
<tr>
	<td> 1 </td>
	<td> DISABLE_LOCK12 </td>
	<td id="DISABLE_LOCK12_di"> 0 </td>
	<td> "stav povolení funkce budiče zámku konektorů" </td>
</tr>
<tr>
	<td> 2 </td>
	<td> POWER_SW1 </td>
	<td id="POWER_SW1_di"> 0 </td>
	<td> "stav relé kanálu 1 - stav hlavního stykače" </td>
</tr>
<tr>
	<td> 3 </td>
	<td> OPEN_LOCK1 </td>
	<td id="OPEN_LOCK1_di"> 0 </td>
	<td> "stav povelu pro otevření zámku kanálu 1" </td>
</tr>
<tr>
	<td> 4 </td>
	<td> CLOSE_LOCK1 </td>
	<td id="CLOSE_LOCK1_di"> 0 </td>
	<td> "stav povelu pro zavření zámku kanálu 1" </td>
</tr>
<tr>
	<td> 5 </td>
	<td> LED_RED1 </td>
	<td id="LED_RED1_di"> 0 </td>
	<td> "stav povelu pro svícení červenou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 6 </td>
	<td> LED_GREEN1 </td>
	<td id="LED_GREEN1_di"> 0 </td>
	<td> "stav povelu pro svícení zelenou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 7 </td>
	<td> LED_BLUE1 </td>
	<td id="LED_BLUE1_di"> 0 </td>
	<td> "stav povelu pro svícení modrou LED na kanálu 1" </td>
</tr>
<tr>
	<td> 8 </td>
	<td> IN1P0_ELEM </td>
	<td id="IN1P0_ELEM_di"> 0 </td>
	<td> "stav digitálního vstupu 1-0, pulsy elektroměru kanálu 1" </td>
</tr>
<tr>
	<td> 9 </td>
	<td> IN1P1_LOCK </td>
	<td id="IN1P1_LOCK_di"> 0 </td>
	<td> "stav digitálního vstupu 1-1, stav zámku kanálu 1" </td>
</tr>
<tr>
	<td> 10 </td>
	<td> IN1P2_ERRD </td>
	<td id="IN1P2_ERRD_di"> 0 </td>
	<td> "stav digitálního vstupu 1-2, detekce vnější chyby kanálu 1" </td>
</tr>
<tr>
	<td> 11 </td>
	<td> IN1P3_BTON </td>
	<td id="IN1P3_BTON_di"> 0 </td>
	<td> "stav digitálního vstupu 1-3, tlačítko spuštění kanálu 2" </td>
</tr>
<tr>
	<td> 22 </td>
	<td> POWER_SW2 </td>
	<td id="POWER_SW2_di"> 0 </td>
	<td> "stav relé kanálu 2 - stav hlavního stykače" </td>
</tr>
<tr>
	<td> 23 </td>
	<td> OPEN_LOCK2 </td>
	<td id="OPEN_LOCK2_di"> 0 </td>
	<td> "stav povelu pro otevření zámku kanálu 2" </td>
</tr>
<tr>
	<td> 24 </td>
	<td> CLOSE_LOCK2 </td>
	<td id="CLOSE_LOCK2_di"> 0 </td>
	<td> "stav povelu pro zavření zámku kanálu 2" </td>
</tr>
<tr>
	<td> 25 </td>
	<td> LED_RED2 </td>
	<td id="LED_RED2_di"> 0 </td>
	<td> "stav povelu pro svícení červenou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 26 </td>
	<td> LED_GREEN2 </td>
	<td id="LED_GREEN2_di"> 0 </td>
	<td> "stav povelu pro svícení zelenou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 27 </td>
	<td> LED_BLUE2 </td>
	<td id="LED_BLUE2_di"> 0 </td>
	<td> "stav povelu pro svícení modrou LED na kanálu 2" </td>
</tr>
<tr>
	<td> 28 </td>
	<td> IN2P0_ELEM </td>
	<td id="IN2P0_ELEM_di"> 0 </td>
	<td> "stav digitálního vstupu 2-0, pulsy elektroměru kanálu 2" </td>
</tr>
<tr>
	<td> 29 </td>
	<td> IN2P1_LOCK </td>
	<td id="IN2P1_LOCK_di"> 0 </td>
	<td> "stav digitálního vstupu 2-1, stav zámku kanálu 2" </td>
</tr>
<tr>
	<td> 30 </td>
	<td> IN2P2_ERRD </td>
	<td id="IN2P2_ERRD_di"> 0 </td>
	<td> "stav digitálního vstupu 2-2, detekce vnější chyby kanálu 2" </td>
</tr>
<tr>
	<td> 31 </td>
	<td> IN2P3_BTON </td>
	<td id="IN2P3_BTON_di"> 0 </td>
	<td> "stav digitálního vstupu 2-3, tlačítko spuštění kanálu 2" </td>
</tr>

{% endblock %}

{% block holding_registers %}
<tr>
	<td> 1 </td>
	<td> COUNTER_TOP </td>
	<td id="COUNTER_TOP_hr"> 0 </td>
	<td> "testovací - counter v input registrech čítá s periodou 1 s od 0 do této hodnoty" </td>
</tr>
<tr>
	<td> 2 </td>
	<td> CP_DUTY1 </td>
	<td id="CP_DUTY1_hr"> 0 </td>
	<td> "zadání hodnoty střídy signálu CP na kanálu 1" </td>
</tr>
<tr>
	<td> 22 </td>
	<td> CP_DUTY2 </td>
	<td id="CP_DUTY2_hr"> 0 </td>
	<td> "zadání hodnoty střídy signálu CP na kanálu 2" </td>
</tr>

{% endblock %}

{% block input_registers %}
<tr>
	<td> 1 </td>
	<td> COUNTER </td>
	<td id="COUNTER_ir"> 0 </td>
	<td> "testovací - pocitadlo do hodnoty counter_top s pretecenim, inkrementace po 1 s" </td>
</tr>
<tr>
	<td> 2 </td>
	<td> CP_DUTY1 </td>
	<td id="CP_DUTY1_ir"> 0 </td>
	<td> "hodnota střídy signálu CP na kanálu 1 v jednotkách %" </td>
</tr>
<tr>
	<td> 3 </td>
	<td> CP_VOLTAGE1 </td>
	<td id="CP_VOLTAGE1_ir"> 0 </td>
	<td> "hodnota kladného maxima signálu CP na kanálu 1 v jednotkách V" </td>
</tr>
<tr>
	<td> 4 </td>
	<td> PP_RESISTANCE1 </td>
	<td id="PP_RESISTANCE1_ir"> 0 </td>
	<td> "hodnota připojeného odporu na vodiči PP u kanálu 1 v jednotkách ohm" </td>
</tr>
<tr>
	<td> 5 </td>
	<td> IN1P0_ELEM_CNT_L </td>
	<td id="IN1P0_ELEM_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P0, nižší byte" </td>
</tr>
<tr>
	<td> 6 </td>
	<td> IN1P0_ELEM_CNT_H </td>
	<td id="IN1P0_ELEM_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P0, vyšší byte" </td>
</tr>
<tr>
	<td> 7 </td>
	<td> IN1P1_LOCK_CNT_L </td>
	<td id="IN1P1_LOCK_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P1, nižší byte" </td>
</tr>
<tr>
	<td> 8 </td>
	<td> IN1P1_LOCK_CNT_H </td>
	<td id="IN1P1_LOCK_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P1, vyšší byte" </td>
</tr>
<tr>
	<td> 9 </td>
	<td> IN1P2_ERRD_CNT_L </td>
	<td id="IN1P2_ERRD_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P2, nižší byte" </td>
</tr>
<tr>
	<td> 10 </td>
	<td> IN1P2_ERRD_CNT_H </td>
	<td id="IN1P2_ERRD_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1P2, vyšší byte" </td>
</tr>
<tr>
	<td> 11 </td>
	<td> IN1P3_BTON_CNT_L </td>
	<td id="IN1P3_BTON_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1-3, nižší byte" </td>
</tr>
<tr>
	<td> 12 </td>
	<td> IN1P3_BTON_CNT_H </td>
	<td id="IN1P3_BTON_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN1-3, vyšší byte" </td>
</tr>
<tr>
	<td> 13 </td>
	<td> ELECTROMETER1_L </td>
	<td id="ELECTROMETER1_L_ir"> 0 </td>
	<td> "stav elektroměru kanálu 1 v jednotkách Wh, nižší byte" </td>
</tr>
<tr>
	<td> 14 </td>
	<td> ELECTROMETER1_H </td>
	<td id="ELECTROMETER1_H_ir"> 0 </td>
	<td> "stav elektroměru kanálu 1 v jednotkách Wh, vyšší byte" </td>
</tr>
<tr>
	<td> 22 </td>
	<td> CP_DUTY2 </td>
	<td id="CP_DUTY2_ir"> 0 </td>
	<td> "hodnota střídy signálu CP na kanálu 2 v jednotkách %" </td>
</tr>
<tr>
	<td> 23 </td>
	<td> CP_VOLTAGE2 </td>
	<td id="CP_VOLTAGE2_ir"> 0 </td>
	<td> "hodnota kladného maxima signálu CP na kanálu 2 v jednotkách V" </td>
</tr>
<tr>
	<td> 24 </td>
	<td> PP_RESISTANCE2 </td>
	<td id="PP_RESISTANCE2_ir"> 0 </td>
	<td> "hodnota připojeného odporu na vodiči PP u kanálu 2" </td>
</tr>
<tr>
	<td> 25 </td>
	<td> IN2P0_ELEM_CNT_L </td>
	<td id="IN2P0_ELEM_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P0, nižší byte" </td>
</tr>
<tr>
	<td> 26 </td>
	<td> IN2P0_ELEM_CNT_H </td>
	<td id="IN2P0_ELEM_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P0, vyšší byte" </td>
</tr>
<tr>
	<td> 27 </td>
	<td> IN2P1_LOCK_CNT_L </td>
	<td id="IN2P1_LOCK_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P1, nižší byte" </td>
</tr>
<tr>
	<td> 28 </td>
	<td> IN2P1_LOCK_CNT_H </td>
	<td id="IN2P1_LOCK_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P1, vyšší byte" </td>
</tr>
<tr>
	<td> 29 </td>
	<td> IN2P2_ERRD_CNT_L </td>
	<td id="IN2P2_ERRD_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P2, nižší byte" </td>
</tr>
<tr>
	<td> 30 </td>
	<td> IN2P2_ERRD_CNT_H </td>
	<td id="IN2P2_ERRD_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2P2, vyšší byte" </td>
</tr>
<tr>
	<td> 31 </td>
	<td> IN2P3_BTON_CNT_L </td>
	<td id="IN2P3_BTON_CNT_L_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2-3, nižší byte" </td>
</tr>
<tr>
	<td> 32 </td>
	<td> IN2P3_BTON_CNT_H </td>
	<td id="IN2P3_BTON_CNT_H_ir"> 0 </td>
	<td> "stav počítadla náběžných hran vstupu IN2-3, vyšší byte" </td>
</tr>
<tr>
	<td> 33 </td>
	<td> ELECTROMETER2_L </td>
	<td id="ELECTROMETER2_L_ir"> 0 </td>
	<td> "stav elektroměru kanálu 2 v jednotkách Wh, nižší byte" </td>
</tr>
<tr>
	<td> 34 </td>
	<td> ELECTROMETER2_H </td>
	<td id="ELECTROMETER2_H_ir"> 0 </td>
	<td> "stav elektroměru kanálu 2 v jednotkách Wh, vyšší byte" </td>
</tr>

{% endblock %}
