[Unit]
Description=Sluzba PY009 Mennekes
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=python3 /home/debian/Repozitare/PY009_Mennekes/py009_mennekes.py -r /home/debian/mennekes_cfg.ini
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
